.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
}

.App-logo {
  height: 200px;
  margin-left: 150px;
}

.title_wrapper {
  flex: 1;
}

.App-title {
  font-size: 3.5em;
  flex: 1;
}

.subtitle {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@media only screen and (max-width: 900px) {
  .App-logo {
    margin-left: 90px;
  }
  .App-title {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 600px) {
  .App-logo {
    height: 150px;
    margin-left: 10px;
  }
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
