.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
}

.App-logo {
  height: 200px;
  margin-left: 150px;
  position: absolute;
}

.title_wrapper {
  flex: 1;
}

.App-title {
  font-size: 3.5em;
  flex: 1;
}

.subtitle {
  font-size: 1em;
}

.top-links {
  position: absolute;
  right: 10px;
}

.top-link {
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: underline;
}
.top-link:hover{
  cursor: pointer;
}

.contact {
  position: absolute;
  right: 15px;
  top: 50px;
  color: darkgrey;
}

.beef__container {
  display: flex;
}

.maincontent__container {
  flex:2.5;
  text-align: left;
  padding: 32px;
  margin-top: 12px;
}

.dropdown__container {
  flex:1;
  padding: 24px;
}


@media only screen and (max-width: 900px) {
  .App-logo {
    margin-left: 90px;
  }
  .App-title {
    font-size: 2.5em;
  }
}



p {
  font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
  .App-logo {
    height: 150px;
    margin-left: 10px;
  }
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
