.App {
  text-align: center;
}

.App-header {
  display: flex;
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: whitesmoke;
}

.App-title:hover {
   cursor: pointer;
  color: floralwhite;
  text-shadow: 4px 4px darkgray;
 }

.App-logo {
  height: 200px;
  margin-left: 150px;
  position: absolute;
}

.title_wrapper {
  flex: 1;
}

.App-title {
  font-size: 3.5em;
  flex: 1;
}

.subtitle {
  font-size: 1em;
}

.top-links {
  position: absolute;
  right: 10px;
}

.top-link {
  color: whitesmoke;
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: underline;
}
.top-link:hover{
  cursor: pointer;
}

.contact {
  position: absolute;
  right: 15px;
  top: 50px;
  color: darkgrey;
  text-align: left;
}

.cv {
  position: absolute;
  right: 15px;
  top: 50px;
  color: darkgrey;
}

.cv-link {
  color: whitesmoke;
  margin: 6px;
  font-size: 1.1em;
}
.cv-link__container {
  margin: 24px;
 }

.beef__container {
  display: flex;
}

.maincontent__container {
  flex:2.5;
  text-align: left;
  padding: 32px;
  margin-top: 12px;
}

.dropdown__container {
  flex:1;
  padding: 24px;
}

.mediaImg {
  max-width: 60vw;
  margin: 8px;
  border-top: 2px #222222 dashed;
  padding: 20px;
}

.kirjatilaisuus__container {
  display: flex;
}
.kirjatilaisuus__img {
  width: 32vw;
  height: auto;
  margin: 3px;
}
.kouluttajaButton {
  height: 50px;
  background-color: #222;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 5px 15px 15px 0;
  box-sizing: border-box;
  padding: 12px 20px 12px 10px;
  line-height: 16px;
  position: relative;
  user-select: none;
}
.kouluttajaButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: #222 1px solid;
}

.social {
  width: 3em;
  height: 3em;
  margin: 6px;
}

@media only screen and (max-width: 900px) {
  .App-logo {
    margin-left: 90px;
  }
  .App-title {
    font-size: 2.5em;
  }
}



p {
  font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
  .App-logo {
    height: 150px;
    margin-left: 10px;
  }
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
